<!DOCTYPE html>
<html ng-app="projectRtc" xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %></title>
    <base href="/"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="css\bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/adapter.js"></script>
    <script type="text/javascript" src="javascripts/rtcClient.js"></script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
    </script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="javascripts/datas.js"></script>




</head>
<body>

<div class="container">
    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">About</a></li>
                    <li><img src="/img/logo2.JPG" height="50px"></li>
                    <li><img src="/img/logo1.JPG" height="50px"></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- /.Navigation -->

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8 remoteStreams" ng-controller="RemoteStreamsController as rtc">
            <h1>Remote Video</h1>

            <div id="remoteVideoContainer"></div>
        </div>
        <!-- /.col-md-8 -->

        <!-- col-md-4 -->
        <div class="col-md-4 localStream" ng-controller="LocalStreamController as localStream">
            <h1>Local Video</h1>
            <video id="localVideo" muted="muted" autoplay="true" width="100%"></video>
            <button ng-click="localStream.toggleCam()" class='button' style="width: 100%">{{
                localStream.cameraIsOn ? 'Stop' : 'Start' }}
            </button>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.Heading Row -->


    <div class="container" ng-controller="RobotController as rc">
        <br>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h2>Connection</h2>

                <div class="form-group">
                    <div class="dropdown">
                        <select class="btn btn-default" ng-change="rc.connectToRobot(current_robot)"
                                ng-model="current_robot" ng-options="item for item in robot_list">
                            <!-- <option ng-repeat="current_robot in rc.users">{{current_robot}}</option> -->
							<option value="">Select Robot ID</option>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Firebase Server address" id="server_addr"
                           ng-model="firebase_server"
                           ng-init="firebase_server='https://crackling-heat-6629.firebaseio.com/'">
                </div>

                <button id="firebaseConnectButton" class='button'
                        ng-click="rc.connectToFirebase(firebase_server)">Connect
                </button>






                <button id="show-stats" class='button'
                        >Show stats
                </button>
                <button id="show-stats" class='button'
                        ng-click="rc.lastseen()">last seen
                </button>
                <a id="show-stats" target="_blank" class='button'
                        href="htmls/datas.html" > Draw Map
                </a>
                <div class="col-md-4">
                    </br>
                    Robot Lamp:
                    <label class="switch" id="lamp" align="center">
                        <input id ="MyLamp" class="switch-input" ng-close="rc.lamp()" type="checkbox" ng-click="rc.lamp()"/>
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>

            </div>

            <div class="col-md-4">
                <h2 align="center" >Move Control</h2>

                <div class="form-group" align="center">
                   <a ng-click="rc.moveRobot('PIVOT_LEFT')">
                       <image src="/images/up-left.png" height="30" width="30"></image>
                   </a>
                    <button id="upDirectionButton" class='button' ng-click="rc.moveRobot('GO_FORWARD')">
                        Forward
                    </button>
                    <a ng-click="rc.moveRobot('PIVOT_RIGHT')">
                    <image src="/images/up-right.png" height="30" width="30"></image>
                    </a>
                </div>
                <div class="form-group" align="center">
                    <button id="leftDirectionButton" class='button' ng-click="rc.moveRobot('GO_LEFT')">Left
                    </button>
                    <button id="downDirectionButton" class='button' ng-click="rc.moveRobot('GO_BACK')">Back
                    </button>
                    <button id="rightDirectionButton" class='button' ng-click="rc.moveRobot('GO_RIGHT')">
                        Right
                    </button>
                </div>
                <div class="form-group" align="center">
                    <button style="width: 100%" id="stopButton" class='button'
                            ng-click="rc.moveRobot('GO_STOP')">Stop
                    </button>
                </div>
                <!--2015-->
                <div>

                    Medication     &nbsp;&nbsp;&nbsp;&nbsp;         Barcode    &nbsp;&nbsp;&nbsp;&nbsp;             Time: <br/>
                    <input type="text" name="medic" id="100" size="7" ng-model="med" maxlength="10" >
                    <input type="text" name="barcode" id="barcode" size="7" ng-model="barcode" maxlength="10" >

                    <select name="time" id="time" ng-model="time">
                        <option value="5:00">5:00</option>
                        <option value="5:15">5:15</option>
                        <option value="5:30">5:30</option>
                        <option value="5:45">5:45</option>

                        <option value="6:00">6:00</option>
                        <option value="6:15">6:15</option>
                        <option value="6:30">6:30</option>
                        <option value="6:45">6:45</option>

                        <option value="7:00">7:00</option>
                        <option value="7:15">7:15</option>
                        <option value="7:30">7:30</option>
                        <option value="7:45">7:45</option>

                        <option value="8:00">8:00</option>
                        <option value="8:15">8:15</option>
                        <option value="8:30">8:30</option>
                        <option value="8:45">8:45</option>

                        <option value="9:00">9:00</option>
                        <option value="9:15">9:15</option>
                        <option value="9:30">9:30</option>
                        <option value="9:45">9:45</option>

                        <option value="10:00">10:00</option>
                        <option value="10:15">10:15</option>
                        <option value="10:30">10:30</option>
                        <option value="10:45">10:45</option>

                        <option value="11:00">11:00</option>
                        <option value="11:15">11:15</option>
                        <option value="11:30">11:30</option>
                        <option value="11:45">11:45</option>

                        <option value="12:00">12:00</option>
                        <option value="12:15">12:15</option>
                        <option value="12:30">12:30</option>
                        <option value="12:45">12:45</option>

                        <option value="13:00">13:00</option>
                        <option value="13:15">13:15</option>
                        <option value="13:30">13:30</option>
                        <option value="13:45">13:45</option>

                        <option value="14:00">14:00</option>
                        <option value="14:15">14:15</option>
                        <option value="14:30">14:30</option>
                        <option value="14:45">14:45</option>

                        <option value="15:00">15:00</option>
                        <option value="15:15">15:15</option>
                        <option value="15:30">15:30</option>
                        <option value="15:45">15:45</option>

                        <option value="16:00">16:00</option>
                        <option value="16:15">16:15</option>
                        <option value="16:30">16:30</option>
                        <option value="16:45">16:45</option>

                        <option value="1700">17:00</option>
                        <option value="17:15">17:15</option>
                        <option value="17:30">17:30</option>
                        <option value="17:45">17:45</option>

                        <option value="6:00">18:00</option>
                        <option value="6:15">18:15</option>
                        <option value="6:30">18:30</option>
                        <option value="6:45">18:45</option>

                        <option value="19:00">19:00</option>
                        <option value="19:15">19:15</option>
                        <option value="19:30">19:30</option>
                        <option value="19:45">19:45</option>

                        <option value="20:00">20:00</option>
                        <option value="20:15">20:15</option>
                        <option value="20:30">20:30</option>
                        <option value="20:45">20:45</option>

                        <option value="21:00">21:00</option>
                        <option value="21:15">21:15</option>
                        <option value="21:30">21:30</option>
                        <option value="21:45">21:45</option>

                        <option value="22:00">22:00</option>
                        <option value="22:15">22:15</option>
                        <option value="22:30">22:30</option>
                        <option value="22:45">22:45</option>

                        <option value="23:00">23:00</option>
                        <option value="23:15">23:15</option>
                        <option value="23:30">23:30</option>
                        <option value="23:45">23:45</option>
                    </select>

                </div>
                <br>
                <div class="form-group" align="center">
                    <button type="button" class='button' style="width: 100%" ng-click="rc.AddMedication(med,time,barcode)"  >Add Medication </button>
                    </div>
                <div>




                    <select class="btn btn-default"
                            ng-model="current_med" ng-options="item for item in rc.medications">

                        <option value="">Select Medication</option>
                    </select>

                    <button type="button" class='button'  ng-click="rc.RemoveMedication(current_med)" style="width: 50%" >Remove </button>
                </div>



                <br/>








                <audio id="audio2"  autostart="false" src="/audios/fall.mp3"  ></audio>

                <audio id="audio3"  autostart="false" src="/audios/med.mp3"  ></audio>

                <audio id="audio4"  autostart="false" src="/audios/on.mp3"  ></audio>

                <audio id="audio5"  autostart="false" src="/audios/off.mp3"  ></audio>

                <audio id="audio6"  autostart="false" src="/audios/add.mp3"  ></audio>

                <audio id="audio7"  autostart="false" src="/audios/removed.mp3"  ></audio>






                  <!--2015-->

                <div class="alert alert-success" ng-hide="(rc.signalStrength != 4)" ng-show="(rc.signalStrength == 4)" role="alert">Robot signal is excellent!</div>
                <div class="alert alert-warning" ng-hide="(rc.signalStrength != 3)" ng-show="(rc.signalStrength == 3)" role="alert">Robot signal is good</div>
                <div class="alert alert-danger"  ng-hide="(rc.signalStrength != 2 && rc.signalStrength != 1)" 
					ng-show="(rc.signalStrength == 2 || rc.signalStrength == 1)" role="alert">Bad or no signal, returning to base!</div>


            </div>

            <div id="robot_buttons" style="float:right">





                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">×</span>
                            <h2>Last week Blood Pressures & Heart Rates :</h2>
                        </div>
                        <div class="modal-body">
                            <p id="days">Some other text...</p>
                        </div>
                        <div class="modal-footer">
                            <h3 id="Rname">Tele-Care Robot</h3>
                        </div>
                    </div>
                </div>




                <script>
                    // Get the modal
                    var modal = document.getElementById('myModal');

                    // Get the button that opens the modal
                    var btn = document.getElementById("show-stats");

                    var txt = document.getElementById("days");

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    var curr = localStorage.getItem('current_robot');

                    var rName = document.getElementById("Rname");
                    rName.innerHTML = "Tele-Care Robot";

                    // When the user clicks the button, open the modal
                    btn.onclick = function() {
                        modal.style.display = "block";
                        var temp = localStorage.getItem('robot_days');
                        var temp2 = localStorage.getItem('Single_HR');
                        temp = temp.split(",");
                        console.log(temp);
                        var str = "";
                        str = str + "Sunday : " + temp[0] + "</br>";
                        str = str + "Monday : " + temp[1] + "</br>";
                        str = str + "Thursday : " + temp[2] + "</br>";
                        str = str + "Wednesday : " + temp[3] + "</br>";
                        str = str + "Tuesday : " + temp[4] + "</br>";
                        str = str + "Friday : " + temp[5] + "</br>";
                        str = str + "Saturday : " + temp[6] + "</br>";
                        str = str + "&#10084; Heart Rate : " + temp2;

                        txt.innerHTML = str;
                    }

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() {
                        modal.style.display = "none";
                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>





            </div>

        </div>
    </div>


</div>

<br>

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Telecare Robot Website 2015</p>
        </div>
    </div>
</footer>

</div>
</body>